
{% extends "base.html" %}  {% block content %}
{% load static %}

  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Корзина
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Корзина</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <form class="form Cart" action="#" method="post">
        {% for cart in carts %}
          <div class="Cart-product">
            <div class="Cart-block Cart-block_row">
              <div class="Cart-block Cart-block_pict">
                  <a class="Cart-pict" href="#">
                  <img class="Cart-img" src="{% static 'assets/img/content/home/card.jpg' %}" alt="card.jpg"/></a>
              </div>
              <div class="Cart-block Cart-block_info">
                  <a class="Cart-title" href="{% url 'catalog_detail' cart.product.slug %}">{{ cart.product.name }}</a>
                <div class="Cart-desc">{{ cart.product.name }}
                </div>
              </div>
              <div class="Cart-block Cart-block_price">
                <div class="Cart-price">{{ cart.product.price }}$
                </div>
              </div>
            </div>
            <div class="Cart-block Cart-block_row">
              <div class="Cart-block Cart-block_seller">
                <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
              
              </div>
              <div class="Cart-block Cart-block_amount">
                <div class="Cart-amount">
                  <div class="Amount">
                    <button class="Amount-remove" type="button">
                    </button>
                    <input class="Amount-input form-input" name="amount" type="text" value="1"/>
                    <button class="Amount-add" type="button">
                    </button>
                  </div>
                </div>
              </div>
              <div class="Cart-block Cart-block_delete"><a class="Cart-delete" href="#">
                  <img src="{% static 'assets/img/icons/card/delete.svg' %}" alt="delete.svg"/></a>
              </div>
            </div>
          </div>
        {% endfor %}

        </form>
      </div>
    </div>
  </div>
{% endblock %}