{% extends "base.html" %}  {% block content %}
{% load static %}

  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Заказ №{{ object.id }}
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">home</a>
            </li>
            <li class="breadcrumbs-item"><a href="{% url '' %}">История заказов</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Заказ №{{ object.id }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <div class="Section-content">
          <div class="Orders">
          </div>
          <div class="Order">
            <div class="Order-infoBlock">
              <div class="Order-personal">
                <div class="row">
                  <div class="row-block">
                    <div class="Order-info Order-info_date">
                      <div class="Order-infoType">Дата заказа:
                      </div>
                      <div class="Order-infoContent">{{ object.created }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">ФИО:
                      </div>
                      <div class="Order-infoContent">{{ object.user.user.username }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">Телефон:
                      </div>
                      <div class="Order-infoContent">{{ object.user.phone }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">E-mail:
                      </div>
                      <div class="Order-infoContent">{{ object.user.user.email }}
                      </div>
                    </div>
                  </div>
                  <div class="row-block">
                    <div class="Order-info Order-info_delivery">
                      <div class="Order-infoType">Тип доставки:
                      </div>
                      <div class="Order-infoContent">{{ object.delivery.name }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">Город:
                      </div>
                      <div class="Order-infoContent">{{ object.city }}
                      </div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">Адрес:
                      </div>
                      <div class="Order-infoContent">{{ object.street  }}
                      </div>
                    </div>
                    <div class="Order-info Order-info_pay">
                      <div class="Order-infoType">Оплата:
                      </div>
                      <div class="Order-infoContent">{{ object.payment.name }}
                      </div>
                    </div>
                    <div class="Order-info Order-info_status">
                      <div class="Order-infoType">Статус:
                      </div>
                        {% if object.paid %}

                      <div class="Order-infoContent">Оплачен</div>
                            {% else %}
                      <div class="Order-infoContent">Не оплачен</div>

                                                {% endif %}

                    </div>
                        {% if object.paid %}
                            {% else %}

                    <div class="Order-info Order-info_error">
                      <div class="Order-infoType">Оплата не прошла:
                      </div>
                      <div class="Order-infoContent">Оплата не выполнена, т.к. вы подозреваетесь в нетолерантности
                      </div>
                    </div>
                        {% endif %}

                  </div>
                </div>
              </div>

              <div class="Cart Cart_order">
                  {% for order in orders_items %}

                  <div class="Cart-product">
                  <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_pict">
                        <a class="Cart-pict" href="{% url 'catalog_detail' order.order_items.slug %}">
                            <img class="Cart-img" src="{{   order.order_items.slug  }}" alt="card.jpg"/>
                        </a>
                    </div>
                    <div class="Cart-block Cart-block_info">
                        <a class="Cart-title" href="{% url 'catalog_detail' order.order_items.slug %}">{{ order.order_items.name }}</a>
                      <div class="Cart-desc">{{ order.order_items.short_description }}
                      </div>
                    </div>
                    <div class="Cart-block Cart-block_price">
                      <div class="Cart-price">{{ order.order_items.price }}$
                      </div>
                    </div>
                  </div>
                  <div class="Cart-block Cart-block_row">
                  
                    <div class="Cart-block Cart-block_amount">1 шт.
                    </div>
                  </div>
                </div>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}